

<h1> Login </h1>
<div>
<!-- src/app/data-input/data-input.component.html -->
<div>
    <h2>Add Data</h2>
    <div>
    <label> UserName  : </label>
    <input [(ngModel)]="UserName" placeholder="Enter Username " />
    </div>
    <br>
    <div>
    <label> Password :  </label>
    <input [(ngModel)]="password" placeholder="Enter password " />
    </div>
    <br>
    <button (click)="addUserInput()">Submit</button>
  
    <h3>Stored Data:</h3>
    <ul>
      <li *ngFor="let item of storedData">{{ item }}</li>
    </ul>
  </div>
  