
<h2> Login </h2>
<div class="form-group">
 
<form #userForm="ngForm"   (ngSubmit)="onSubmit()" novalidate>


   <div class="form-group">
    <input type="text" required #Name  placeholder="full Name " name="userName" class="form-control" [(ngModel)]="userModel.name">
   </div>
   
   
   <div class="form-group">
    <input type="email" placeholder="Email" class="form-control" name="Email" [(ngModel)]="userModel.email">
   </div>

   <div class="form-group">
    <input placeholder="Phone" type="tel" name="Phone"  class="form-control" [(ngModel)]="userModel.phone">
   </div>
   
   <div class="form-group"> 
    <select class="custom-select" name="Topic" [(ngModel)]="userModel.topic">
        <option selected value="topic" > I am Interested in </option>
        <option *ngFor="let topic of Topics">{{ topic }}</option>
    </select>
   </div>

   <div class="mb-3">
    <label class="form-label">Time Preference</label>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="time" [(ngModel)]="userModel.time">
        <label class="form-check-label" for="morning">Morning (9AM - 12PM)</label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="time"  [(ngModel)]="userModel.time">
        <label class="form-check-label" for="evening">Evening (5PM - 8PM)</label>
    </div>
   </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" name="Subcribe"  [(ngModel)]="userModel.subscribe">
            <label class="form-check-label" for="promo">Send me a Promotional Offer!</label>
        </div>
            <button [disabled]="userForm.form.invalid"  type="submit" class="btn btn-primary" >Submit</button>
            
</form>
</div>